<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../lib/bootstrap/dist/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/bootstrap-datetimepicker.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="css/font-awesome.css" rel="stylesheet"> 


        <script src="lib/angular/angular.min.js"></script>
       <!-- <script src="lib/angular-router/angular-route.min.js"></script>-->
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="lib/angular-animate/angular-animate.min.js"></script>
        <script src="lib/angular-resource/angular-resource.min.js"></script>
        <script src="lib/angular-messages/angular-messages.min.js"></script>
        <script src="lib/angular-mocks/angular-mocks.js"></script>
        <script src="lib/angular-ui-utils/ui-utils.min.js"></script>

        <script src="lib/momentjs/moment.js"></script>   
 <script src="lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
        <script src="js/index.js"></script>
<script src="app/clientapp.js"></script>

<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
	

});
</script>
