<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <li><a href="#/"><i class="fa fa-home home_1"></i></a></li>
       <li> <span class="divider">&nbsp;|&nbsp;</span></li>
        <li class="current-page">Login</li>
     </ul>
   </div>
   <div class="services">
   	  <div class="col-sm-6 login_left">
<div style="color:#FF0000; padding:5px;">{{message}}</div>

	   <form ng-submit="loginfun(form)" >
  	    <div class="form-item form-type-textfield form-item-name">
	      <label for="edit-name">Username (email)<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" id="edit-name" name="email" ng-model="user.email" value="" size="60" maxlength="60" class="form-text required" >
                       
	    </div>
	    <div class="form-item form-type-password form-item-pass">
	      <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
	      <input type="password" id="edit-pass" ng-model="user.password" name="password" size="60" maxlength="128" class="form-text required" >
                       
	    </div>
	    <div class="form-actions">
	    	<input type="submit" id="edit-submit" name="op" value="Log in" class="btn_1 submit">
	    </div>
	   </form>
    	
	  </div>
	  <div class="col-sm-6">

	  </div>
	  <div class="clearfix"> </div>
   </div>
  </div>
</div>